* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    background: linear-gradient(90deg, #0D1B2A, #1B263B);
    overflow: hidden;
}

.header {
    height: 20vh;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #0A1F44;
    outline: 2px groove #E5E5E5;
    z-index: 999;
}

.left-header {
    height: 100%;
    display: flex;
    flex-basis: 14.5%;
    align-items: center;
    justify-content: center;
    background-color: rgba(20, 33, 61, 0.1);
}

.right-header {
    height: 100%;
    display: flex;
    flex: 5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #112B54;
    color: #E5E5E5;
}

.logo {
    height: 85%;
    width: 60%;
    outline: 1px solid #E5E5E5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#Book{
    width: 13.5vw;
    height: 15vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 20vh;
}

.screen {
    background: linear-gradient(90deg, #1F4068, #16213E);
    position: relative;
    height: 70vh; 
    width: 40vw;
    max-height: 600px;
    max-width: 400px;
    box-shadow: 0px 0px 24px #102542;
    margin-top: 5vh; 
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    clip-path: inset(0 0 0 0);
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
    opacity: 0.2;
}

.screen__background__shape1 {
    height: 50vh;
    width: 50vh;
    background: #FFF;
    top: -5vh;
    right: 10vw;
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 20vh;
    width: 20vh;
    background: #0A1F44;
    top: -20vh;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 54vh;
    width: 19vw;
    background: linear-gradient(270deg, #1F4068, #16213E);
    top: -2vh;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 40vh;
    width: 20vw;
    background: #233A5E;
    top: 42vh;
    right: 5vw;
    border-radius: 60px;
}

.login {
    width: 80%;
    padding-bottom: 12vh;
    padding-left: 3vw;
}

.login__field {
    padding-top: 5vh;
    position: relative;
}

.login__icon {
    position: absolute;
    top: 3vh;
    color: #A3A3C2;
}

.login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 1vh;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #16213E;
}

.login__submit {
    background: #fff;
    font-size: 1.4vh;
    margin-top: 8vh;
    padding: 1.6vh 2vw;
    border-radius: 26px;
    border: 1px solid #E5E5E5;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 80%;
    color: #0D1B2A;
    box-shadow: 0px 2px 2px #102542;
    cursor: pointer;
    transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #16213E;
    outline: none;
}

.button__icon {
    font-size: 2.4vh;
    margin-left: auto;
    color: #A3A3C2;
}
